<!DOCTYPE html>
<html>
<head>
    <title>Данные по инсультам</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Данные по инсультам (Вариант 4)</h1>
        <form class="mb-3" action="/display_data" method="POST">
            <div class="form-group mb-3">
                <label for="start_row" class="fw-semibold">Начальная строка:</label>
                <input type="number" id="start_row" name="start_row" class="form-control" required placeholder="от 1 до {{max_row}}">
            </div>
            <div class="form-group mb-3">
                <label for="end_row" class="fw-semibold">Конечная строка:</label>
                <input type="number" id="end_row" name="end_row" class="form-control" required placeholder="от 1 до {{max_row}}">
            </div>
            <div class="form-group mb-3">
                <label for="start_col" class="fw-semibold">Начальная колонка:</label>
                <input type="number" id="start_col" name="start_col" class="form-control" required placeholder="от 1 до {{max_col}}">
            </div>
            <div class="form-group mb-3">
                <label for="end_col" class="fw-semibold">Конечная колонка:</label>
                <input type="number" id="end_col" name="end_col" class="form-control" required placeholder="от 1 до {{max_col}}">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Вывести данные</button>
            </div>
        </form>
        <form class="text-center mb-3" action="/download" method="GET">
            <button type="submit" class="btn btn-primary">Скачать csv-файл</button>
        </form>
        <h1 class="mb-4">Анализ расширенных данных</h1>
        <form class="mb-3" action="/graphics_data" method="POST">
            <div class="form-group mb-3">
                <label for="selected_condition" class="fw-semibold">Столбец с условием:</label>
                <select class="form-select mt-1" aria-label="Default select example" name="selected_condition" id="selected_condition">
                    {% for col in columns %}
                    <option value="{{col}}">{{col}}</option>
                    {% endfor %}
                </select>
                <label for="condition_value" class="fw-semibold mt-2">Значение условия:</label>
                <input type="text" id="condition_value" name="condition_value" class="form-control mt-1" required placeholder="Введите условие">
                <label for="selected_column" class="fw-semibold mt-2">Столбец для анализа:</label>
                <select class="form-select mt-1" aria-label="Default select example" name="selected_column" id="selected_column">
                    {% for col in columns %}
                    <option value="{{col}}">{{col}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-warning">Анализ</button>
            </div>
        </form>
        <h1 class="mb-4">Анализ с помощью Фильтра Блума</h1>
        <form class="mb-3" action="/bloomfilter_data" method="POST">
            <div class="form-group mb-3">
                <label for="search_words" class="fw-semibold">Начальная строка:</label>
                <input type="text" id="search_words" name="search_words" class="form-control" required placeholder="Введите слова через пробел">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-info">Поиск</button>
            </div>
        </form>
        <h1 class="mb-4">Парная линейная регрессия</h1>
        <form class="mb-3" action="/regression_data" method="POST">
            <div class="form-group mb-3">
                <label for="selected_column1" class="fw-semibold">Выберите столбцы:</label>
                <select class="form-select mt-1" aria-label="Default select example" name="selected_column1" id="selected_column1">
                    {% for col in numeric_columns  %}
                    <option value="{{col}}">{{col}}</option>
                    {% endfor %}
                </select>
                <select class="form-select mt-2" aria-label="Default select example" name="selected_column2" id="selected_column2">
                    {% for col in numeric_columns  %}
                    <option value="{{col}}">{{col}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Анализ</button>
            </div>
        </form>
        <h1 class="mb-4">Дерево решений</h1>
        <form class="mb-3" action="/decisiontree_data" method="POST">
            <div class="form-group mb-3">
                <label for="min_samples" class="fw-semibold"><h5>min_samples (Минимальное кол-во объектов в одном листе):</h5>
                если в листе один объект - это скорее
                всего сложная модель с низким уровнем обращения</label>
                <input type="number" id="min_samples" name="min_samples" class="form-control" required placeholder="Введите min_samples">
            </div>
            <div class="form-group mb-3">
                <label for="max_depth" class="fw-semibold"><h5>max_depth (Максимальное кол-во уровней с вопросами):</h5>
                чем глубже дерево, тем оно сложнее</label>
                <input type="number" id="max_depth" name="max_depth" class="form-control" required placeholder="Введите max_depth">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Построить дерево</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>